{
    "openapi": "3.0.0",
    "info": {
        "title": "RestReviews API - Restoranlar va Sharhlar",
        "description": "Mobile ilova uchun REST API. Restoranlarni kashf qilish, sharh qoldirish, sevimlilar va boshqalar.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gastronomic.webclub.uz",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local Development Server"
        },
        {
            "url": "http://restreviews.test",
            "description": "Laragon Server"
        }
    ],
    "paths": {
        "/api/auth/send-code": {
            "post": {
                "tags": [
                    "🔐 Autentifikatsiya"
                ],
                "summary": "SMS tasdiqlash kodi yuborish",
                "description": "Telefon raqamiga SMS orqali 4 raqamli tasdiqlash kodini yuboradi. Kod 5 daqiqa davomida amal qiladi.",
                "operationId": "0f2ff5da3d5883ef973571776bfcbc27",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Telefon raqami (998XXXXXXXXX formatida)",
                                        "type": "string",
                                        "example": "998901234567"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tasdiqlash kodi muvaffaqiyatli yuborildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tasdiqlash kodi yuborildi"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "998901234567"
                                        },
                                        "code": {
                                            "description": "Test rejimida qaytadi, production da null",
                                            "type": "string",
                                            "example": "1234",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation error"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "phone": [
                                                    "The phone field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "SMS yuborishda xatolik",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "SMS yuborishda xatolik yuz berdi. Qaytadan urinib ko'ring."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/verify-code": {
            "post": {
                "tags": [
                    "🔐 Autentifikatsiya"
                ],
                "summary": "Kodni tekshirish va login/register",
                "description": "Tasdiqlash kodini tekshiradi. Agar foydalanuvchi yangi bo'lsa, ism va familiya bilan ro'yxatdan o'tkazadi. Mavjud foydalanuvchi uchun login qiladi.",
                "operationId": "29564ddf07960c1a2c60526d2a6b676a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "phone",
                                    "code"
                                ],
                                "properties": {
                                    "phone": {
                                        "description": "Telefon raqami",
                                        "type": "string",
                                        "example": "998901234567"
                                    },
                                    "code": {
                                        "description": "4 raqamli tasdiqlash kodi",
                                        "type": "string",
                                        "example": "1234"
                                    },
                                    "first_name": {
                                        "description": "Ism (yangi foydalanuvchilar uchun majburiy)",
                                        "type": "string",
                                        "example": "Abdulla",
                                        "nullable": true
                                    },
                                    "last_name": {
                                        "description": "Familiya (yangi foydalanuvchilar uchun majburiy)",
                                        "type": "string",
                                        "example": "Valiyev",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli login yoki ro'yxatdan o'tish",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tizimga kirdingiz"
                                        },
                                        "is_new_user": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "client": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Abdulla"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Valiyev"
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Abdulla Valiyev"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "998901234567"
                                                },
                                                "image_path": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "description": "Bearer token keyingi so'rovlar uchun",
                                            "type": "string",
                                            "example": "1|abcdefghijklmnopqrstuvwxyz123456789"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Noto'g'ri tasdiqlash kodi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Noto'g'ri tasdiqlash kodi"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kod topilmadi yoki muddati tugagan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tasdiqlash kodi topilmadi yoki muddati tugagan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi yoki yangi foydalanuvchi uchun ism/familiya kerak",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Ism va familiya kiritish shart"
                                        },
                                        "requires_registration": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "errors": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "🔐 Autentifikatsiya"
                ],
                "summary": "Foydalanuvchi profilini olish",
                "description": "Autentifikatsiya qilingan foydalanuvchining profilini qaytaradi",
                "operationId": "b5de204f5e452ef51327c691aa99e77c",
                "responses": {
                    "200": {
                        "description": "Profil ma'lumotlari",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "client": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Abdulla"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Valiyev"
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Abdulla Valiyev"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "998901234567"
                                                },
                                                "image_path": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Autentifikatsiya xatosi - token noto'g'ri yoki yo'q",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "🔐 Autentifikatsiya"
                ],
                "summary": "Tizimdan chiqish",
                "description": "Joriy tokenni bekor qiladi va foydalanuvchini tizimdan chiqaradi",
                "operationId": "df9bdc6c7a6d9f20b983526b2ec0f698",
                "responses": {
                    "200": {
                        "description": "Muvaffaqiyatli logout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tizimdan chiqdingiz"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Autentifikatsiya xatosi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/brands": {
            "get": {
                "tags": [
                    "🏷️ Brandlar"
                ],
                "summary": "Barcha brandlar ro'yxati",
                "description": "Accept-Language header orqali berilgan tildagi barcha brand tarjimalarini qaytaradi",
                "operationId": "130f2bd423b6fe2355253e2c39878d99",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brandlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "KFC"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Kentucky Fried Chicken",
                                                        "nullable": true
                                                    },
                                                    "logo": {
                                                        "type": "string",
                                                        "example": "https://example.com/storage/brands/logos/kfc.png",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/brand/{brand_id}": {
            "get": {
                "tags": [
                    "🏷️ Brandlar"
                ],
                "summary": "Brand bo'yicha restaurantlar",
                "description": "Berilgan brand_id ga tegishli barcha restaurantlarni qaytaradi",
                "operationId": "339c85bbe61e4896f4afac65cbac4404",
                "parameters": [
                    {
                        "name": "brand_id",
                        "in": "path",
                        "description": "Brand ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brandga tegishli restaurantlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "brand_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "brand_name": {
                                                    "type": "string",
                                                    "example": "KFC"
                                                },
                                                "restaurants": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "KFC Mega Planet"
                                                            },
                                                            "images": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "image_url": {
                                                                            "type": "string",
                                                                            "example": "https://example.com/storage/restaurants/image.jpg"
                                                                        },
                                                                        "is_cover": {
                                                                            "type": "boolean",
                                                                            "example": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "avg_rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4.5
                                                            },
                                                            "reviews_count": {
                                                                "type": "integer",
                                                                "example": 120
                                                            },
                                                            "address": {
                                                                "type": "string",
                                                                "example": "Mega Planet, Almaty",
                                                                "nullable": true
                                                            },
                                                            "operating_hours": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "day_of_week": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "opening_time": {
                                                                            "type": "string",
                                                                            "example": "09:00:00"
                                                                        },
                                                                        "closing_time": {
                                                                            "type": "string",
                                                                            "example": "23:00:00"
                                                                        },
                                                                        "is_closed": {
                                                                            "type": "boolean",
                                                                            "example": false
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Brand topilmadi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Brand not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "📂 Kategoriyalar"
                ],
                "summary": "Barcha kategoriyalar ro'yxati",
                "description": "Accept-Language header orqali berilgan tildagi barcha kategoriya tarjimalarini qaytaradi",
                "operationId": "ac9c4d978ea4e5b72915ca9728e5b8b1",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategoriyalar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Fast Food"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Tez tayyorlaniladigan ovqat",
                                                        "nullable": true
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "example": "https://example.com/storage/categories/icons/icon.png",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/favorites": {
            "get": {
                "tags": [
                    "❤️ Sevimlilar"
                ],
                "summary": "Sevimlilar ro'yxati",
                "description": "Login qilgan foydalanuvchining barcha sevimli restoranlar ro'yxati",
                "operationId": "bc433e786ab5a0bec81c53c578e0b6aa",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Favorites list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/restaurants/{id}/favorite": {
            "post": {
                "tags": [
                    "❤️ Sevimlilar"
                ],
                "summary": "Sevimlilar ro'yxatiga qo'shish/o'chirish",
                "description": "Restoranni sevimlilar ro'yxatiga qo'shish yoki o'chirish. Faqat autentifikatsiya qilingan foydalanuvchilar uchun.",
                "operationId": "7007d8d312a4e78f3e05186adb89a117",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Restoran ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sevimlilar holati o'zgartirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sevimlilar ro'yxatiga qo'shildi"
                                        },
                                        "data": {
                                            "properties": {
                                                "is_favorited": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Autentifikatsiya xatosi"
                    },
                    "404": {
                        "description": "Restoran topilmadi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/favorites/map": {
            "get": {
                "tags": [
                    "❤️ Sevimlilar"
                ],
                "summary": "Sevimli restoranlarni xaritada ko'rsatish",
                "description": "Client sevimli restoranlarining koordinatalari xarita uchun",
                "operationId": "17012642d364a1329a23a2d6c7a8d434",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sevimli restoranlar koordinatalari",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Autentifikatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/restaurants/{id}/menu": {
            "get": {
                "tags": [
                    "🍔 Menyu"
                ],
                "summary": "Restoran menyusini olish",
                "description": "Restoranning to'liq menyusini menu section lar bilan guruhlanган holda qaytaradi",
                "operationId": "359903fa9a944d987c5d47983ce2e6f4",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant menu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/menu-items/{id}": {
            "get": {
                "tags": [
                    "🍔 Menyu"
                ],
                "summary": "Taom batafsil ma'lumotlari",
                "description": "Bitta taomning to'liq ma'lumotlari: nomi, tavsif, narx, rasm, vazn",
                "operationId": "024245ee46acc80d42b2dd4e480a938e",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu item details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Menu item not found"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "👤 Profil"
                ],
                "summary": "Client profil ma'lumotlari",
                "description": "Login qilgan clientning to'liq profil ma'lumotlari va statistikasi",
                "operationId": "f1784685f8270527da017b3616288443",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profil ma'lumotlari",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "first_name": {
                                                    "type": "string",
                                                    "example": "Abdulla"
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "example": "Valiyev"
                                                },
                                                "full_name": {
                                                    "type": "string",
                                                    "example": "Abdulla Valiyev"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "998901234567"
                                                },
                                                "image_path": {
                                                    "type": "string",
                                                    "example": "https://example.com/storage/clients/photo.jpg",
                                                    "nullable": true
                                                },
                                                "statistics": {
                                                    "properties": {
                                                        "total_reviews": {
                                                            "type": "integer",
                                                            "example": 15
                                                        },
                                                        "five_star_reviews": {
                                                            "type": "integer",
                                                            "example": 8
                                                        },
                                                        "favorites_count": {
                                                            "type": "integer",
                                                            "example": 5
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "reviews": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Autentifikatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "👤 Profil"
                ],
                "summary": "Profil ma'lumotlarini yangilash",
                "description": "Client ism, familiya va rasmini yangilash",
                "operationId": "df42d7bd8c9605adf2e62002661ca9f3",
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "description": "Ism",
                                        "type": "string",
                                        "example": "Abdulla",
                                        "nullable": true
                                    },
                                    "last_name": {
                                        "description": "Familiya",
                                        "type": "string",
                                        "example": "Valiyev",
                                        "nullable": true
                                    },
                                    "image": {
                                        "description": "Profil rasmi (maksimum 2MB)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil muvaffaqiyatli yangilandi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profil muvaffaqiyatli yangilandi"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/restaurants": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Barcha restoranlar ro'yxati",
                "description": "Filter va pagination bilan barcha faol restoranlarni olish",
                "operationId": "e887e30e268dc7b10ec0d206253d5fbc",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "menu_section_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rating",
                                "latest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurants list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/nearby": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Yaqin atrofdagi restoranlar",
                "description": "Foydalanuvchi lokatsiyasidan berilgan radius (km) ichidagi restoranlarni topadi",
                "operationId": "3b1dcdfb289c6fca2d062079504271c6",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "default": 5
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nearby restaurants list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/restaurants/{id}": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Restoran batafsil ma'lumotlari",
                "description": "Restoranning to'liq ma'lumotlari: rasmlar, brend, menyu, operating hours, reviews statistics va hokazo",
                "operationId": "a791f325e147d0939ab287bb5f7a5f8a",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Restaurant not found"
                    }
                }
            }
        },
        "/api/restaurants/map": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Xarita uchun restoranlar",
                "description": "Xaritada ko'rsatish uchun barcha restoranlarning koordinatalari",
                "operationId": "29b971a784a37bdc6f943d392f298d40",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurants for map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories/{id}/top-restaurants": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Kategoriya bo'yicha eng yuqori reytingli restoranlar",
                "description": "Berilgan kategoriyaga tegishli eng yuqori reytingli restoranlarni qaytaradi. Masalan: \"Ommabop fast foodlar\", \"Ommabop restoranlar\"",
                "operationId": "8662e5475e7f2c562b9787571c79326a",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Kategoriya ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Natijalar soni (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Top restoranlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategoriya topilmadi"
                    }
                }
            }
        },
        "/api/restaurants/nearest": {
            "get": {
                "tags": [
                    "🏠 Restoranlar"
                ],
                "summary": "Eng yaqin 5 ta restoran",
                "description": "Foydalanuvchi lokatsiyasiga eng yaqin 5 ta restoranni qaytaradi",
                "operationId": "8b744796dce4c397aa3b63823bdd011d",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Latitude (kenglik)",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Longitude (uzunlik)",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Eng yaqin restoranlar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/api/restaurants/{id}/reviews": {
            "get": {
                "tags": [
                    "⭐ Sharhlar"
                ],
                "summary": "Restoran sharhlari",
                "description": "Restoranga qoldirilgan barcha sharhlar va statistika",
                "operationId": "fd9110f4ca01639b739b5c358bdec19c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant reviews list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "statistics": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "⭐ Sharhlar"
                ],
                "summary": "Sharh qoldirish",
                "description": "Restoranga reyting va comment qoldirish. Login shart emas - guest users ham qoldirishi mumkin. Agar Authorization header yuborilsa, sharh avtomatik ravishda clientga bog'lanadi. Device ID orqali kuzatiladi. Limit: 3 sharh/kun per restaurant.",
                "operationId": "c3b04e826aeafcf34ff32c7c1df8e4f0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "device_id",
                                    "rating"
                                ],
                                "properties": {
                                    "device_id": {
                                        "description": "Qurilma ID (UUID yoki fingerprint)",
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "rating": {
                                        "description": "Reyting (1 dan 5 gacha)",
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 5
                                    },
                                    "comment": {
                                        "description": "Izoh (ixtiyoriy, maksimum 1000 belgi)",
                                        "type": "string",
                                        "maxLength": 1000,
                                        "example": "Juda zo'r restoran, taomlar mazali!",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Telefon raqami (ixtiyoriy, maksimum 20 belgi)",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+998901234567",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Review created/updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "429": {
                        "description": "Rate limit exceeded (3 reviews per day per restaurant)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Siz bugun bu restoranga maksimal miqdorda sharh qoldirdingiz. Ertaga qayta urinib ko'ring."
                                        },
                                        "rate_limit": {
                                            "properties": {
                                                "reviews_count": {
                                                    "type": "integer"
                                                },
                                                "remaining": {
                                                    "type": "integer"
                                                },
                                                "reset_at": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    },
                    {}
                ]
            }
        },
        "/api/reviews/{id}": {
            "put": {
                "tags": [
                    "⭐ Sharhlar"
                ],
                "summary": "Sharhni yangilash",
                "description": "O'z sharhingizni yangilash. Faqat authenticated users uchun.",
                "operationId": "0a0c13ce189613706937df58ee336079",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "rating": {
                                        "description": "Reyting (1 dan 5 gacha)",
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 4,
                                        "nullable": true
                                    },
                                    "comment": {
                                        "description": "Izoh (ixtiyoriy, maksimum 1000 belgi)",
                                        "type": "string",
                                        "maxLength": 1000,
                                        "example": "Yangilangan izoh",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Telefon raqami (ixtiyoriy, maksimum 20 belgi)",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+998901234567",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Review not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "⭐ Sharhlar"
                ],
                "summary": "Sharhni o'chirish",
                "description": "O'z sharhingizni o'chirish. Faqat authenticated users uchun.",
                "operationId": "adc117e9be50413476f46036b7d20b76",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Review deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Review not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/search": {
            "get": {
                "tags": [
                    "🔍 Qidiruv"
                ],
                "summary": "Global qidiruv",
                "description": "Restoranlar va taomlar bo'yicha qidiruv. Restoran nomi, brendi, taom nomi va tavsifi bo'yicha qidiradi.",
                "operationId": "d70c8d72bc43cc6c7321086ae9d2c1f1",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "restaurants": {
                                                    "type": "object"
                                                },
                                                "menu_items": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "🔐 Autentifikatsiya",
            "description": "🔐 Autentifikatsiya"
        },
        {
            "name": "🏷️ Brandlar",
            "description": "🏷️ Brandlar"
        },
        {
            "name": "📂 Kategoriyalar",
            "description": "📂 Kategoriyalar"
        },
        {
            "name": "❤️ Sevimlilar",
            "description": "❤️ Sevimlilar"
        },
        {
            "name": "🍔 Menyu",
            "description": "🍔 Menyu"
        },
        {
            "name": "👤 Profil",
            "description": "👤 Profil"
        },
        {
            "name": "🏠 Restoranlar",
            "description": "🏠 Restoranlar"
        },
        {
            "name": "⭐ Sharhlar",
            "description": "⭐ Sharhlar"
        },
        {
            "name": "🔍 Qidiruv",
            "description": "🔍 Qidiruv"
        }
    ]
}