{
    "openapi": "3.0.0",
    "info": {
        "title": "RestReviews API - Restoranlar va Sharhlar",
        "description": "Mobile ilova uchun REST API. Restoranlarni kashf qilish, sharh qoldirish, sevimlilar va boshqalar.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gastronomic.webclub.uz",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local Development Server"
        },
        {
            "url": "http://restreviews.test",
            "description": "Laragon Server"
        }
    ],
    "paths": {
        "/api/brands": {
            "get": {
                "tags": [
                    "Brandlar"
                ],
                "summary": "Eng yuqori ratingli brandlar",
                "description": "Restaurantlar va reviewlar asosida hisoblangan eng yuqori o'rtacha ratingga ega 7 ta brandni qaytaradi. Rating = barcha brand restaurantlaridagi barcha reviewlarning o'rtacha qiymati.",
                "operationId": "130f2bd423b6fe2355253e2c39878d99",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brandlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "KFC"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Kentucky Fried Chicken",
                                                        "nullable": true
                                                    },
                                                    "logo": {
                                                        "type": "string",
                                                        "example": "https://example.com/storage/brands/logos/kfc.png",
                                                        "nullable": true
                                                    },
                                                    "avg_rating": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 4.5,
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/brand/{brand_id}": {
            "get": {
                "tags": [
                    "Brandlar"
                ],
                "summary": "Brand bo'yicha restaurantlar",
                "description": "Berilgan brand_id ga tegishli barcha restaurantlarni qaytaradi",
                "operationId": "339c85bbe61e4896f4afac65cbac4404",
                "parameters": [
                    {
                        "name": "brand_id",
                        "in": "path",
                        "description": "Brand ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brandga tegishli restaurantlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "brand_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "brand_name": {
                                                    "type": "string",
                                                    "example": "KFC"
                                                },
                                                "restaurants": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "KFC Mega Planet"
                                                            },
                                                            "images": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "image_url": {
                                                                            "type": "string",
                                                                            "example": "https://example.com/storage/restaurants/image.jpg"
                                                                        },
                                                                        "is_cover": {
                                                                            "type": "boolean",
                                                                            "example": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "avg_rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4.5
                                                            },
                                                            "reviews_count": {
                                                                "type": "integer",
                                                                "example": 120
                                                            },
                                                            "address": {
                                                                "type": "string",
                                                                "example": "Mega Planet, Almaty",
                                                                "nullable": true
                                                            },
                                                            "operating_hours": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "day_of_week": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "opening_time": {
                                                                            "type": "string",
                                                                            "example": "09:00:00"
                                                                        },
                                                                        "closing_time": {
                                                                            "type": "string",
                                                                            "example": "23:00:00"
                                                                        },
                                                                        "is_closed": {
                                                                            "type": "boolean",
                                                                            "example": false
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Brand topilmadi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Brand not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories": {
            "get": {
                "tags": [
                    "Kategoriyalar"
                ],
                "summary": "Barcha kategoriyalar ro'yxati",
                "description": "Accept-Language header orqali berilgan tildagi barcha kategoriya tarjimalarini qaytaradi",
                "operationId": "ac9c4d978ea4e5b72915ca9728e5b8b1",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Kategoriyalar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Fast Food"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Tez tayyorlaniladigan ovqat",
                                                        "nullable": true
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "example": "https://example.com/storage/categories/icons/icon.png",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/favorites": {
            "get": {
                "tags": [
                    "Sevimlilar"
                ],
                "summary": "Sevimli restoranlar ro'yxati",
                "description": "Foydalanuvchining sevimli restoranlari (pagination bilan)",
                "operationId": "bc433e786ab5a0bec81c53c578e0b6aa",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Qurilmaning unikal ID'si",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sevimli restoranlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/favorites/map": {
            "get": {
                "tags": [
                    "Sevimlilar"
                ],
                "summary": "Sevimli restoranlar xarita uchun",
                "description": "Foydalanuvchining sevimli restoranlarini xarita uchun qaytaradi (barcha ma'lumotlar)",
                "operationId": "17012642d364a1329a23a2d6c7a8d434",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Qurilmaning unikal ID'si",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sevimli restoranlar xarita uchun",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/{id}/favorite": {
            "post": {
                "tags": [
                    "Sevimlilar"
                ],
                "summary": "Restoranni sevimliga qo'shish/olib tashlash",
                "description": "Restoran sevimli bo'lsa - olib tashlaydi, aks holda - qo'shadi",
                "operationId": "7007d8d312a4e78f3e05186adb89a117",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Restoran ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "device_id"
                                ],
                                "properties": {
                                    "device_id": {
                                        "description": "Qurilmaning unikal ID'si",
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "device-123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sevimli holati o'zgartirildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "is_favorite": {
                                            "description": "Hozir sevimli ekanligini bildiradi",
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Added to favorites"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Restoran topilmadi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Restaurant not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation xatosi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/{id}/menu": {
            "get": {
                "tags": [
                    "Menyu"
                ],
                "summary": "Restoran menyusini olish",
                "description": "Restoranning to'liq menyusini menu section lar bilan guruhlanган holda qaytaradi",
                "operationId": "359903fa9a944d987c5d47983ce2e6f4",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant menu",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/menu-items/{id}": {
            "get": {
                "tags": [
                    "Menyu"
                ],
                "summary": "Taom batafsil ma'lumotlari",
                "description": "Bitta taomning to'liq ma'lumotlari: nomi, tavsif, narx, rasm, vazn",
                "operationId": "024245ee46acc80d42b2dd4e480a938e",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu item details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Menu item not found"
                    }
                }
            }
        },
        "/api/questions": {
            "get": {
                "tags": [
                    "Savollar"
                ],
                "summary": "Sharh formasining savollarini olish",
                "description": "Restoran sharhi qoldirganda foydalanuvchiga ko'rsatiladigan barcha savollar va ularning javob variantlarini qaytaradi.",
                "operationId": "860331f8e4b6d740293483a82e52fc5a",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Javob tilini tanlang (default: ru). Barcha savol va option textlari bu tilda qaytariladi",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Savollar muvaffaqiyatli qaytadi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "Asosiy savollar ro'yxati (4 ta savol: overall_satisfied, visit_category, would_return_again, additional_comments)",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "Savol ID'si",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "description": "Savol matni (tanlangan tilga qarab)",
                                                        "type": "string",
                                                        "example": "В целом всё понравилось?"
                                                    },
                                                    "is_required": {
                                                        "description": "Majburi savol (TRUE = red asterisk ko'rsating)",
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "allow_multiple": {
                                                        "description": "Bir nechta javob tanlash mumkinmi (checkbox uchun)",
                                                        "type": "boolean",
                                                        "example": false
                                                    },
                                                    "sort_order": {
                                                        "description": "Ko'rsatish tartibi (0 = birinchi)",
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "options": {
                                                        "description": "Javob variantlari (bo'sh = text input, to'li = radio/dropdown/checkbox)",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "description": "Option ID - BUNI POST request'da selected_option_ids'ga kiriting",
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "text": {
                                                                    "description": "Option matni",
                                                                    "type": "string",
                                                                    "example": "Завтрак"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "sub_questions": {
                                                        "description": "Shartli sub-savollar (faqat rating bo'yicha ko'rsatiladi)",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 2
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "example": "A. Sizga nima yoqmadi?"
                                                                },
                                                                "is_required": {
                                                                    "type": "boolean",
                                                                    "example": false
                                                                },
                                                                "allow_multiple": {
                                                                    "type": "boolean",
                                                                    "example": true
                                                                },
                                                                "condition": {
                                                                    "description": "Qachon ko'rsatish: \"rating\" <= 3 yoki >= 4",
                                                                    "type": "object",
                                                                    "example": {
                                                                        "field": "rating",
                                                                        "operator": "<=",
                                                                        "value": 3
                                                                    }
                                                                },
                                                                "options": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server xatosi"
                    }
                }
            }
        },
        "/api/restaurants": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Barcha restoranlar ro'yxati",
                "description": "Filter va pagination bilan barcha faol restoranlarni olish",
                "operationId": "e887e30e268dc7b10ec0d206253d5fbc",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "menu_section_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rating",
                                "latest"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurants list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/restaurants/nearby": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Yaqin atrofdagi restoranlar",
                "description": "Foydalanuvchi lokatsiyasidan berilgan radius (km) ichidagi restoranlarni topadi",
                "operationId": "3b1dcdfb289c6fca2d062079504271c6",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "default": 5
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nearby restaurants list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/restaurants/{id}": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Restoran batafsil ma'lumotlari",
                "description": "Restoranning to'liq ma'lumotlari: rasmlar, brend, menyu, operating hours, reviews statistics va hokazo",
                "operationId": "a791f325e147d0939ab287bb5f7a5f8a",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Restaurant not found"
                    }
                }
            }
        },
        "/api/restaurants/map": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Xarita uchun restoranlar",
                "description": "Xaritada ko'rsatish uchun barcha restoranlarning koordinatalari",
                "operationId": "29b971a784a37bdc6f943d392f298d40",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "max_rating",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurants for map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/categories/{id}/top-restaurants": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Kategoriya bo'yicha eng yuqori reytingli restoranlar",
                "description": "Berilgan kategoriyaga tegishli eng yuqori reytingli restoranlarni qaytaradi. Masalan: \"Ommabop fast foodlar\", \"Ommabop restoranlar\"",
                "operationId": "8662e5475e7f2c562b9787571c79326a",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Kategoriya ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Natijalar soni (default: 10)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Top restoranlar ro'yxati",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Kategoriya topilmadi"
                    }
                }
            }
        },
        "/api/restaurants/nearest": {
            "get": {
                "tags": [
                    "Restoranlar"
                ],
                "summary": "Eng yaqin 5 ta restoran",
                "description": "Foydalanuvchi lokatsiyasiga eng yaqin 5 ta restoranni qaytaradi",
                "operationId": "8b744796dce4c397aa3b63823bdd011d",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "Latitude (kenglik)",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Longitude (uzunlik)",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Eng yaqin restoranlar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatsiya xatosi"
                    }
                }
            }
        },
        "/api/restaurants/{id}/reviews": {
            "get": {
                "tags": [
                    "Sharhlar"
                ],
                "summary": "Restoran sharhlari",
                "description": "Restoranga qoldirilgan barcha sharhlar va statistika",
                "operationId": "fd9110f4ca01639b739b5c358bdec19c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurant reviews list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "statistics": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Sharhlar"
                ],
                "summary": "Restoranga sharh qoldirish",
                "description": "Restoranga reyting, izoh va savollar javoblarini qoldirish. Qadamlar: 1) GET /api/questions dan savollarni oling. 2) Foydalanuvchi har bir savol uchun javob tanlashi kerak. 3) Tanlangan optionlarning ID'larini selected_option_ids arrayiga qo'ying. Limit: 3 sharh/kun per restaurant.",
                "operationId": "c3b04e826aeafcf34ff32c7c1df8e4f0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "device_id",
                                    "rating"
                                ],
                                "properties": {
                                    "device_id": {
                                        "description": "Qurilmaning unikal ID'si (UUID, fingerprint yoki MAC address). Kuniga 3 dan ko'proq sharh qoldirmaslik uchun",
                                        "type": "string",
                                        "maxLength": 100,
                                        "example": "device-uuid-123"
                                    },
                                    "rating": {
                                        "description": "Restoran reytingi (MAJBURI). 1=yomon, 2=yaxshi emas, 3=normal, 4=yaxshi, 5=ajoyib",
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 5
                                    },
                                    "comment": {
                                        "description": "Foydalanuvchining izohи (ixtiyoriy, max 1000 belgi)",
                                        "type": "string",
                                        "maxLength": 1000,
                                        "example": "Juda zo'r restoran! Taomlar mazali edi.",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "description": "Telefon raqami (ixtiyoriy, max 20 belgi)",
                                        "type": "string",
                                        "maxLength": 20,
                                        "example": "+998901234567",
                                        "nullable": true
                                    },
                                    "selected_option_ids": {
                                        "description": "Tanlangan savol optionlarining ID'lari. GET /api/questions dan olgan ID'larni kiriting. Misol: rating=5 bo'lsa \"Sizga nima yoqdi?\" sub-savol ko'rsatiladi, shu sub-savolning option ID'larini kiriting.",
                                        "type": "array",
                                        "items": {
                                            "description": "Option ID - GET /api/questions dan olgan ID",
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            5,
                                            12,
                                            15
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            },
                            "example": {
                                "device_id": "device-uuid-123",
                                "rating": 5,
                                "comment": "Juda zo'r restoran!",
                                "phone": "+998901234567",
                                "selected_option_ids": [
                                    1,
                                    5,
                                    12,
                                    15
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Sharh muvaffaqiyatli yaratildi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Review submitted successfully"
                                        },
                                        "data": {
                                            "description": "Yaratilgan sharh ma'lumotlari",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 42
                                                },
                                                "rating": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "comment": {
                                                    "type": "string",
                                                    "example": "Juda zo'r!"
                                                },
                                                "selected_answers": {
                                                    "description": "Foydalanuvchi tanlagan javob variantlari (tarjimada)",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "Option ID",
                                                                "type": "integer",
                                                                "example": 7
                                                            },
                                                            "text": {
                                                                "description": "Option matni (tanlangan tilga qarab)",
                                                                "type": "string",
                                                                "example": "Ланч"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2024-01-15 10:30:00"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "rate_limit": {
                                            "description": "Kun'lik sharh limitini ko'rsatish",
                                            "properties": {
                                                "remaining": {
                                                    "description": "Qolgan sharh soni (bu restoranga uchun bugun)",
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "reset_at": {
                                                    "description": "Limit qayta tiklanish vaqti (keyingi kun boshida)",
                                                    "type": "string",
                                                    "example": "2024-01-16 00:00:00"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error - Ma'lumotlar xato yoki to'liq emas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid"
                                        },
                                        "errors": {
                                            "description": "Xato maydonlari va ularning xabar-xabarlari",
                                            "properties": {
                                                "device_id": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "device_id field is required"
                                                    ]
                                                },
                                                "rating": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "rating must be between 1 and 5"
                                                    ]
                                                },
                                                "selected_option_ids.*": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "example": [
                                                        "selected option id does not exist"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded - Foydalanuvchi bu restoranga kun'da maksimal miqdorda sharh qoldirgan (limit: 3 ta)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "You have reached the maximum number of reviews for this restaurant today. Please try again tomorrow."
                                        },
                                        "rate_limit": {
                                            "description": "Limit haqida ma'lumotlar",
                                            "properties": {
                                                "can_review": {
                                                    "description": "Sharh qoldirishi mumkinmi?",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "reviews_count": {
                                                    "description": "Bu kun qoldirgan sharh soni",
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "remaining": {
                                                    "description": "Qolgan sharh soni (0 = limit to'ldi)",
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "reset_at": {
                                                    "description": "Limit qayta tiklanish vaqti (keyingi kun boshida)",
                                                    "type": "string",
                                                    "example": "2024-01-16 00:00:00"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/search": {
            "get": {
                "tags": [
                    "Qidiruv"
                ],
                "summary": "Global qidiruv",
                "description": "Restoranlar va taomlar bo'yicha qidiruv. Restoran nomi, brendi, taom nomi va tavsifi bo'yicha qidiradi.",
                "operationId": "d70c8d72bc43cc6c7321086ae9d2c1f1",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Til kodi (uz, ru, kk, en). Default: kk",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "kk",
                            "enum": [
                                "uz",
                                "ru",
                                "kk",
                                "en"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Search results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "restaurants": {
                                                    "type": "object"
                                                },
                                                "menu_items": {
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Brandlar",
            "description": "Brandlar"
        },
        {
            "name": "Kategoriyalar",
            "description": "Kategoriyalar"
        },
        {
            "name": "Sevimlilar",
            "description": "Sevimlilar"
        },
        {
            "name": "Menyu",
            "description": "Menyu"
        },
        {
            "name": "Savollar",
            "description": "Savollar"
        },
        {
            "name": "Restoranlar",
            "description": "Restoranlar"
        },
        {
            "name": "Sharhlar",
            "description": "Sharhlar"
        },
        {
            "name": "Qidiruv",
            "description": "Qidiruv"
        }
    ]
}